~local_stuff/
~help/
venv/

models/*
!models/.gitkeep

data/*
!data/.gitkeep
!data/augmented_data/
!data/to_blacklist.txt
!data/to_ignore.txt

data/augmented_data/*
!data/augmented_data/time_stretched/
!data/augmented_data/pitch_shifted/

data/augmented_data/time_stretched/*
!data/augmented_data/time_stretched/.gitkeep

data/augmented_data/pitch_shifted/*
!data/augmented_data/pitch_shifted/.gitkeep

.idea/
.DS_Store
.ipynb_checkpoints/
